<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gscdn.miniZen.repository.ManagerMapper">

    <select id="getManagerList" resultType="Manager">
        select m.code, m.name  담당자명, m.phone 연락처, m.email 이메일주소, m.company 소속회사
        from manager m
    </select>

    <select id="getManager" resultType="Manager">
        select * from manager where name = #{name}
    </select>

    <insert id="createManager">
        insert into manager values(#{name},#{phone},#{email},#{company})
    </insert>


</mapper>